@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

body {
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif;

}

.main {
    background: linear-gradient(#367CD6, #183968);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 500px;
    height: 350px;
    background: #4A90E2;
    border-radius: 15px;
    box-shadow: 0 0 9px 0 #151010;
}

#cloud1 {
    position: absolute;
}

#cloud2 {
    position: absolute;
    top: 85px;
}

.search-bar {
    height: 80px;
    position: relative;
}

.current-weather {
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.fa-times, .fa-search {
    opacity: .3;
    font-size: 20px;
    margin: 0 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    width: 400px;
    height: 60%;
    background: #4a90e200;
    border: none;
    outline: none;
    font-size: 22px;
    color: white;
    font-family: "Open Sans";
}

.border-bot {
    bottom: 15px;
    width: 92%;
    position: absolute;
    border-bottom: 2px solid black;
    opacity: .1;
}

.current-temperature {
    display: flex;
}

.current-temperature span {
    font-size: 150px;
    font-family: Open Sans, sans-serif;
    font-weight: 100;
}

.current-temperature .fa-circle {
    padding-top: 50px;
}

.current-info {
    height: 100%;
    padding-top: 25px;
    padding-left: 10px;
    font-weight: 100
}

.current-scale {
    font-size: 30px;
}

.weather-conditions {
    padding-top: 15px;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
}

.weather-humidity {
    font-size: 20px;
}

.footer {
    height: 135px;
    background: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
}

.footer-forecast {
    width: 20%;
    border-right: 1px solid rgba(21, 16, 16, 0.1);
    display: inline-table;
    text-align: center;
    margin-top: 8px;
}

.footer-forecast:last-child {
    border: none;
}

.footer-item {
    margin-bottom: -5px;
}

.forecast-date {
    color: rgba(150, 150, 150, 0.78);
}

.forecast-temp-max {
    font-weight: 800;
    color: gray;
    padding-bottom: 5px;
}

.forecast-temp-min {
    font-size: 14px;
}
.current-temperature .degree{
    font-size:100px;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: block;
    width:400px;
    background:#ffffff;
    height:230px;
    border-radius:15px;
    text-align:center;
}
.modal-question{
    padding: 25px;
    text-align: center;
    color: #4a90e2;
    font-size: 30px;
}
.modal-wrapper{
    background: #00000087;
    height: inherit;
    width: 100%;
    position: absolute;
    z-index:1;
}
.modal input[type=text]{
    width: 300px;
    text-align: center;
    font-size: 30px;
    color: #4a90e2;
}
.modal-submit{

}
.modal-submit button[type=submit]{
    color: #ffffff;
    font-size: 20px;
    margin: 25px;
    display: inline-block;
    background: #4a90e2;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    line-height:40px;
    outline:none;
    border: 1px solid #385f8e;
    cursor:pointer;
}
.modal-submit button[type=submit]:hover{
    background-color: #286090;
    border-color: #204d74;
}
.modal-submit button[type=submit]:active{
    background-color: #204d74;
    border-color: #122b40;
}
.clear-search{
    cursor:pointer;
}